.answers {
    width: 100%;
}

.answers h2 {
    text-transform: capitalize;
}

.answers h1 {
    text-align: center;
}

.answers__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}